*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

#b1{
    text-align:center;
    padding-top:80px;
    width: 180px;
    height: 180px;
    background-color: teal;
    margin-bottom: 15px;
}
#b2{
    width: 50px;
    height: 50px;
    background-color:yellow;
}

@media(min-width:1200px){
    #b1{
        width:80%;
    }
    #b2{
        width: 150px;
        height: 150px;
    }
}
@media(min-width:1000px) and (max-width:1199px)    {
    #b1{
	 width:100%;    
    }
    #b2{
         width:20px;
	 height:20px;
    }
    }
